<aside class="main-sidebar sidebar-dark-primary elevation-1 fundo-bd fundo">
  <a href="{{ url_for('index') }}" class="brand-link text-decoration-none text-center">IF Boleto</a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <li class="nav-item">
          <a href="{{ url_for('boletim') }}" class="nav-link">
            <i class="fa-solid fa-table fa-lg nav-icon"></i>
            <p class="text">Boletim</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('user') }}" class="nav-link">
            <i class="fa-solid fa-user fa-lg nav-icon"></i>
            <p class="text">Perfil</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('logout') }}" class="nav-link">
            <i class="fa-solid fa-right-from-bracket fa-lg nav-icon"></i>
            <p class="text">Logout</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
